* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 500vh;
    background: linear-gradient(
        hsla(306, 100%, 42%, 0.247),
        hsla(177, 100%, 43%, 0.356),
        hsla(45, 100%, 43%, 0.329),
        hsla(261, 100%, 41%, 0.295),
        hsla(0, 100%, 43%, 0.349),
        hsla(151, 100%, 43%, 0.288),
        hsla(212, 100%, 43%, 0.363),
        hsla(325, 100%, 43%, 0.39)
    );
}

.infiniteScroll {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.infiniteScroll__icon {
    color: #fff;
    font-size: 4em;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}